<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

{% include 'navbar.html' %}

<style>
  body {
    background: url('https://i.ibb.co/N6nrfkF/stack-og.jpg');
  }
  img{
    height: 50px;
    width: 50px;
  }
  div.shadow{
    box-shadow: 10px 10px 5px grey;
  }
  input.space{
    margin-top: 1%;
  }
  </style> 
<body>
  {%with messages = get_flashed_messages()%}
    {% if messages %}
      {% for msg in messages%}
        <p>{{msg}}</p>
      {%endfor%}
    {%endif%}
  {%endwith%}
  {%if message%}
    {{message}}
  {%endif%}
  <div class="row">
    <div class="col s12">
      <div class="card red">
        <div class="card-content white-text center">
          <span class="card-title">Login</span>
          <div class="card-action">
            <form class="" action="login" method="post" enctype = "multipart/form-data" class="center" style="padding-top: 10px; padding-left: 10px;">
              <div class="input-field col">
                <input name="username" type="text" class="validate" placeholder="Username">
              </div>
              <input type="submit" name="" action="login" value="Submit" class="waves-effect waves-light btn red darken-3 space">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
          